body{
    width: 100%;
}

.dark-theme {
  --primary-color: #000106;
}
.color {
  background: black;
}
.dark-theme {
  width: 60px;
  height: 60px;
  transform: translatex(-50%, -50%);
}
.container img{
    width: 90px;

  
}
